/*Background */
.background{
    -fx-background-color: #DDF4FB;
}


.label{
    -fx-text-fill: black;
}


.button_emp_lock:focused{
	-fx-border-color: white;
    -fx-border-width: 4;
    -fx-border-radius: 4;
}





/*Navigation Buttons */
.button-navigation, .button-navigation:hover{
	-fx-background-color: #4A6269 !important;
    -fx-background-radius: 8,7,6 !important;
    
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: 700;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ) !important;
}

.button-navigation:pressed{
	-fx-background-color: #7C959C !important;
}
/* ============================== */



.button-modif{
		-fx-background-color: #4A6269 !important;
    -fx-background-radius: 8,7,6 !important;
    
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ) !important;
}

.button-modif:pressed {
	-fx-background-color: #7C959C !important;
	-fx-font-size: 16;
}




/* ADD BUTTON */
.button-add, .button-add:hover {
	-fx-background-color: #18935C;
	-fx-font-size: 16;
	-fx-background-radius: 8,7,6 !important;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ) !important;
	-fx-text-fill: white;
}

.button-add:pressed {
	-fx-background-color: #50BF84;
	-fx-font-size: 16;
	-fx-background-radius: 8,7,6 !important;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ) !important;
	-fx-text-fill: white;
}







/*Delete / Cancel Buttons */
.button-delete{
	-fx-background-color: #E74C3C !important;
    -fx-background-radius: 8,7,6 !important;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ) !important;
}

.button-delete:pressed{
	-fx-background-color: #FF6E75 !important;
    -fx-background-radius: 8,7,6 !important;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ) !important;
}
/* ============================== */


.empl_dispo{
	-fx-background-color : green;
}
